In [476]:
import pandas as pd 
import numpy as np

In [477]:
json_path = "../HeroesOfPymoli/purchase_data.json"
purchase_data = pd.read_json("../HeroesOfPymoli/purchase_data.json")

In [478]:
pd.options.display.max_rows 
purchase_data.head()
#purchase_data.shape to show number of rows, columns

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

# Player Count

### Total Number of Players

In [479]:
purchase_data = purchase_data.dropna(how='any')
total_players = purchase_data['SN'].nunique()
total_players

573

In [480]:
purchase_data.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

# Purchasing Analysis (Total)

### Number of Unique Items

In [481]:
unique_items= purchase_data['Item Name'].value_counts(dropna=False, ascending=True)
len(unique_items)

179

### Average Purchase Price

In [482]:
purchase_data['Price'].mean()

2.931192307692303

### Total Number of Purchases

In [483]:
purchase_data = purchase_data.dropna(how='any')
len(purchase_data['Item ID'])

780

### Total Revenue

In [484]:
purchase_data['Price'].sum()

2286.3299999999963

# Gender Demographics Percentage

### Percentage and Count of Male Players, Female Players, & Other / Non-Disclosed Players

In [485]:
unique_purchase_data = purchase_data.drop_duplicates(subset='SN', keep='first')
unique_purchase_data.count()

Age          573
Gender       573
Item ID      573
Item Name    573
Price        573
SN           573
dtype: int64

In [486]:
unique_players = unique_purchase_data.groupby('Gender').count()
unique_players

                       Age  Item ID  Item Name  Price   SN
Gender
Female                 100      100        100    100  100
Male                   465      465        465    465  465
Other / Non-Disclosed    8        8          8      8    8

In [487]:
gender_percentage = [(100/573), (465/573), (8/573)]
unique_players['Percentage']=gender_percentage
unique_players.style.format({
    'Percentage': "{:.2%}".format})

# Purchasing Analysis (Gender)

# Male 
Purchase Count, 
Average Purchase Price, 
Total Purchase Value, 
Normalized Totals

In [508]:
unique_purchase_data['Item Name'].head()

0                  Bone Crushing Silver Skewer
1    Stormbringer, Dark Blade of Ending Misery
2                              Primitive Blade
3                                 Final Critic
4                               Stormfury Mace
Name: Item Name, dtype: object